*{
	font-family: sans-serif;
}
body{
	margin:0;
}

.bg-1{
	background-color: #CCCCCC;
	margin-bottom: 4px;
	padding-top: 10px;
}

.bg-2{
	background-color:#F2F2F2;
	margin-bottom: 4px;
	padding-top: 10px;
}

.bg-3{
	background-color:#E5E5E5;
	margin-bottom: 4px;
	padding-top: 15px;
}
.bg-4{
	background-color: #8E8E8E;
	margin-bottom: 4px;
	padding-top: 15px;
}
.bg-5{
	background-color: #8E8E8E;
	padding-top: 15px;
}

.pad-1{
	padding: 25px;
}
.he-1{
	height: 250px;
}

.header{
	margin: auto;
	width: 940px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.content{
	margin: auto;
	width: 940px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.text-1{
	position: relative;
	display: inline;
	color: white;
	margin-right: 2%;
}
.text-2{
	color: #8E8E8E;
}

.text-3{
	position: relative;
	display: inline;
	font-weight: normal;
	color: white;
	margin-right: 2%;
	font-size: 12pt;
	margin-bottom: 3px;
}

.text-4{
	position: relative;
	display: inline;
	color: white;
	font-weight:  normal;
	font-size: 16pt;
}

.pos-1{
	position: relative;
	margin-left: 60px;
}

.button{
	background-color: #8E8E8E;
	color: white;
	border-radius:7px;
	padding: 7px;
	display: inline-block;
}

.c-2{
	vertical-align: top;
	display: inline-block;
	width: 35%;
}

.c-3{
	display: inline-block;
	width: 310px;
	color: #808080;
	vertical-align: top;
}

.c-6{
	display: inline-block;
	width: 55%;
	margin-right: 5%;
	vertical-align: top;
}

.c-7{
	display: inline-block;
	width: 55%;
	margin-right: 6%;
	vertical-align: top;
}

p{
	color: #656565;
	font-size: 10pt;
	line-height: 140%;
}

a{
	color: #656565;
	font-style: italic;
}

#latest{
	font-size: 18pt;
}

.explain{
	font-weight: lighter;
	font-size: 11.5pt;
	line-height: 164%;
}

.explain-2{
	font-weight: lighter;
	font-size: 11.5pt;
}

.block{
	display: block;
}

.item{
	width: 305px;
	font-weight: lighter;
	margin-bottom: 15px;
}
.inline{
	display: inline-block;
	margin-right: 10%
}
.right{
	display: inline-block;ç
	position: relative;
	margin-right: 7px;
	float: right;
}
.image{
	margin-left: 10px;
}
